.navLink {
  cursor: pointer;
}

.navLink-bar {
  position: relative;
  display: inline-block;
}

.navLink-bar::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--accent-brand);
  transition: width 0.3s ease;
}

.navLink:hover .navLink-bar::after,
.navLink.active .navLink-bar::after {
  width: 100%;
}
